:root { 
  --couleurBlackDrag: Black; 
}
	  
#conso{
	border: solid var(--couleurBlackDrag) 1px;
}

a:hover {
	cursor: pointer;
}

.clear {
  clear: both;
}

#grid {
  width: 660px;
}

.grid-element {
  width: 200px;
  height: 200px;
  margin: 10px;
  float: left;
}
     
 