:root { 
	--couleurWhiteDrag: white; 
	--couleurBlackDrag: Black; 
	--couleurGreyDrag: #333; 
}
	  
#conso{
	border: solid var(--couleurBlackDrag) 1px;
}

h2{
	color: var(--couleurWhiteDrag);
}

a:hover {
	cursor: pointer;
}

.clear {
  clear: both;
}

button[type=submit] {
    width: 300px;
	height: 100px;
    background-color: var(--couleurBlackDrag);
    color: var(--couleurWhiteDrag);
    padding: 10px 10px;
	position: relative;
    border: solid var(--couleurBlackDrag) 2px;
    cursor: pointer;
	font-size: 40px;
}

#ol-center{
	background-color: var(--couleurGreyDrag);
	color: var(--couleurWhiteDrag);
}

.otherList{
	margin-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 130px;
	list-style-type: none;
	color: var(--couleurGreyDrag);
	background-color: var(--couleurWhiteDrag);
	text-align: center;
}

.centerList{
	margin-top: 70px;
	margin-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 130px;
	list-style-type: none;
	color: var(--couleurGreyDrag);
	background-color: var(--couleurWhiteDrag);
	text-align: center;
}

#listC{cursor: default;}

#ol-right{
	background-color: var(--couleurGreyDrag);
	color: var(--couleurWhiteDrag);
}
#ol-left{
	background-color: var(--couleurGreyDrag);
	color: var(--couleurWhiteDrag);
}
#ol-up{
	background-color: var(--couleurGreyDrag);
	color: var(--couleurWhiteDrag);
}
#ol-down{
	background-color: var(--couleurGreyDrag);
	color: var(--couleurWhiteDrag);
}

#grid {
  width: 540px;
}

#score {
	color : var(--couleurBlackDrag);
}

#dir {
	color : var(--couleurBlackDrag);
}

#title1{
	color : var(--couleurBlackDrag);
}

.grid-element {
  width: 160px;
  height: 160px;
  margin: 10px;
  float: left;
}
     
 