:root {
  --couleurWhiteTaq: white;  
  --couleurBlackTaq: black; 
  --couleurWhiteTaqBut: white;  
  --couleurBlackTaqBut: black;
  --couleurBlackTaqFond: black;  
}

body{
	color: var(--couleurBlackTaq);
}

h1 {
	margin: 0px 0px 50px 0px;
	text-align: center;
	font-style: italic;
}

#score {
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 5px 15px 5px 5px;
}

#jeu {
	text-align: center;
}

.piece {
	width: 80px;
	height: 80px;
	font-size: 1cm;
	font-weight: bold;
	background-color: var(--couleurWhiteTaqBut);
	color: var(--couleurBlackTaqBut);
}

.non {
	background-color: var(--couleurBlackTaqFond);
	color: var(--couleurBlackTaqFond);
	border-top: 6px #333 solid;
	border-right: 6px #999 solid;
	border-bottom: 6px #CCC solid;
	border-left: 6px #666 solid;
}

#controle {
	text-align: center;
	margin: 5px;
}

.console {
	text-align: center;
	margin: 5px;
	font-size: larger;
}

#console { 
	font-style: italic; 
}