:root {
  --couleurWhiteVor: white;  
  --couleurBlackVor: black; 
}

body{
	color: var(--couleurBlackVor);
}

h1 {
	text-align: center;
	margin: 0px 0px 25px 0px;
}

#score {
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 5px 15px 5px 5px;
}

table {
	border: 10px var(--couleurBlackVor) solid;
	padding: 10px;
}

.rot {
	cursor: pointer;
	border: 0px;
	padding: 0px;
	background-color: var(--couleurWhiteVor);
}

.piece {
	font-size: xx-large;
	font-weight: bold;
	padding: 10px 20px 10px 20px;
	border-top: 6px #CCC solid;
	border-right: 6px #666 solid;
	border-bottom: 6px #333 solid;
	border-left: 6px #999 solid;
	color: var(--couleurBlackVor);
	background-color: var(--couleurWhiteVor);
}

.mobile {
	background-color: var(--couleurBlackVor);
	color: var(--couleurWhiteVor);
}

.bravo {
	background-color: blue;
	color: yellow;
}

#controle {
	text-align: center;
	margin: 5px;
}

.console {
	text-align: center;
	margin: 15px;
	font-size: x-large;
}

#console { 
	font-style: italic; 
}

.fini {
	font-size: x-large;
}